h1{
    background-size: 90px 60px;
    background-color: aquamarine; 
    text-align: center;
}

h2{
    background-color: none;
    text-align: center;
   font-family:  Tahoma;
   font-weight: 50px;
   font-size: 50px;
   color: #FFFFFF;
    opacity: 0.5;
  }

body
{
  background-image:url(PerihamImages/av.jpg);
}

nav ul{
   
   background-size: 90px 60px;
   position: fixed;
   opacity: 0.5;
   border-radius: 10px; 
   padding:0%;
   margin:8%;
   margin-left: 0.5%;
   list-style-type: none;

}
nav li{
  
display:inline-block;
margin:0%;
padding:0%;
width:100px; 
height:40px;
border-right: 0px solid #cccc;
text-align:center;
line-height:40px;

}

nav li a{

   margin-top: 2%;
   display:block;
   text-decoration: none;
   border-radius: 10px;
   font-family:  Tahoma;
   color: #FFFFFF;
}
nav li :hover{
  background-color:rgb(127, 127, 165);
}
#trt
{
   margin-top: 2%;
   border: 1px solid blue;
   box-shadow:60px 6px 25px 4px  rgb(100, 119, 72),0.18 ;
   background-color:rgb(127, 127, 165);
   text-align: center;
   height: 11%;
   width: 98%;
   font-weight: 50px;
   font-size: 55px;
   font-family:  Tahoma;
   border-radius: 10px;
  position: fixed;
   opacity: 0.5;
     
}

 #acc img {
margin-top: 8%;

}

#col img {
margin-top: 12%;

}

#alb img {
margin-top: 12%;

}